div{
    width:1190px;
    margin:0 auto;
}
#btn{
    width:40px;
    height: 40px;
    position: fixed;
    right:30px;
    bottom: 20px;
    background: url("images/top_bg.png");
    display: none;
}
#btn:hover {
    background: url("images/top_bg.png") no-repeat 0 -40px;
}